exclude MANIFEST.in

# Include the README. the CHANGELOG, and the LOGO
include logo.png
include *.md

# Include the license file
include LICENSE.txt

# Include the dependency related files
include Pipfile
include Pipfile.lock

# Docs
exclude docs
recursive-exclude docs *
recursive-exclude gedcom *.md

# Include GEDCOM test files
include tests/files/*.ged
